* {
  margin: 0px;
  padding: 0px;
}

.formArea {
  margin-top: 100px;
}

.formArea label {
  font-size: 18px;
  /* float: left; */
  text-align: center;
  font-weight: 600;
}

.formData {
  margin: auto;
  padding: 15px;
  max-width: 400px;
  align-content: center;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px 30px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 95%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 200;
  font-size: 15px;
  letter-spacing: 2px;
}

input[type="submit"]:hover {
  background-color: #45a049;
  width: 100%;
  transition: 200ms;
}
